@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monserrat";
  src: url("/font/Montserrat-Light.ttf") format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Monserrat";
  src: url("../public/font/Montserrat-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Monserrat";
  src: url("/font/Montserrat-ExtraLight.ttf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: "Monserrat";
  src: url("/font/Montserrat-Medium.ttf") format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "Monserrat";
  src: url("/font/Montserrat-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@layer base {
  html {
    font-family: "monserrat", system-ui, sans-serif
  }
  body {
    @apply flex h-full flex-col bg-mb_light dark:bg-mb_dark text-mb_dark dark:text-mb_light fill-mb_dark dark:fill-mb_light
  }
  h2, h3, h4, p{
    @apply text-zinc-600 dark:text-zinc-400
  }
  b {
    @apply text-zinc-700 dark:text-zinc-300
  }
}

@layer components {
  #__next{
    @apply h-full
  }

  .mb-divide{
    @apply divide-y divide-mb_dark/10 dark:divide-mb_light/10
  }

  /* LOGO */
  .logo-title {
    @apply uppercase text-3xl font-extralight 
  }
  .logo-title span {
    @apply font-medium
  }

  .mb-tr-duration {
    @apply duration-[400ms]
  }

  /* NAVBAR */
  .menu-item {
    @apply p-4 rounded-sm cursor-pointer transition mb-tr-duration ease-in-out hover:border-b hover:border-solid hover:border-mb_accent
  }
  .menu-item.active{
    @apply font-semibold border-b border-solid border-mb_accent
  }
  .toolbar-social-logo {
    @apply h-6 w-6 transition mb-tr-duration rounded-md ease-in-out  flex items-center justify-center dark:hover:bg-mb_light/[0.1] hover:bg-mb_dark/[0.1] hover:scale-110
  }

  /* BUTTONS */
  .mb-button {
    @apply rounded-xl border
  }

  /*LINKS*/
  .mb-link {
    @apply hover:px-4 py-2 cursor-pointer transition-all hover:text-mb_accent ease-in-out mb-tr-duration rounded-3xl hover:bg-mb_dark/5 dark:hover:bg-mb_light/5 p-1
  }
  .mb-text-link {
    @apply cursor-pointer transition-all hover:text-mb_accent ease-in-out mb-tr-duration hover:bg-mb_dark/5 dark:hover:bg-mb_light/5 font-semibold
  }

  /*images*/
  .mb-image-page {
    @apply w-60 h-60 md:w-auto md:h-[428px] rounded-3xl bg-mb_light/[.02]
  }

  /*projects*/
  .mb-project__img{
    /* .single-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      @media (min-width: 1025px) and (max-width: 1300px){
      }
      @media (min-width: 760px) and (max-width: 1024px) {
          width: 100%;
      }
      @media (min-width: 480px) and (max-width: 759px) {
          width: 100%;
      }
      @media (max-width: 479px) {
          width: 100%;
      }
      img {
          width: 700px;
          height: 398px;
          border-radius: 15px;
          box-shadow: rgba(155,156,159, 0.42) 0px 60px 123px -25px,
          rgba(155,156,159, 0.08) 0px 35px 75px -35px;
          transform:
            perspective(800px)
            rotateY(25deg) scale(0.8)
            rotateX(10deg);
            filter: blur(0px);
            opacity: 1;
            transition: 0.6s ease all;
            &:hover {
              box-shadow: 0px 19px 67px -38px rgba(155,156,159,0.8);
              transform:
                perspective(800px)
                rotateY(-15deg)
                translateY(-50px)
                rotateX(10deg)
                scale(1);
              filter: blur(.2px);
              opacity: 1;
              @media (min-width: 1025px) and (max-width: 1300px){
              }
              @media (min-width: 760px) and (max-width: 1024px) {
              }
              @media (min-width: 480px) and (max-width: 759px) {
              }
              @media (max-width: 479px) {
              }
            }
          @media (min-width: 1025px) and (max-width: 1300px){
          }
          @media (min-width: 760px) and (max-width: 1024px) {
          }
          @media (min-width: 480px) and (max-width: 759px) {
              width: 500px;
              height: 284px;
          }
          @media (max-width: 479px) {
              width: 350px;
              height: 199px;
          }
      }
  } */
  }
}